.container{
    text-align: center;
    margin-top: 30px;
    
}
html{
    background-color: #E6E6E6;
}
table{
    margin: auto;
}
input{
    font-size: 34px;
    border: 5px solid #B97A95;
    border-radius: 10px;
}
button{
    font-size: 40px;
    width: 102px;
    height: 58px;
    color: #E6E6E6;
    background-color: #316B83;
    border-radius: 10px;
}
.calculator{
    background-color: #345B63;
    padding: 20px;
    display: inline-block;
    border-radius: 20px;
}